@keyframes show-slide {
   from {
      transform: scale(.85) translateX(-40%);
      opacity: .85;
   } to {
      transform: scale(1) translateX(0);
      opacity: 1;
   }
}

.show-slide {
   animation: show-slide .45s forwards;
}

.btn-active-label:active {
   transform: scale(.85);
   letter-spacing: 1px;
}

.btn-active-icon:active {
   transform: scale(.85);
}