/* MASTER RESET */
* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   font-family: 'Poppins', Sans-Serif;
   font-size: 100%;
   font-weight: inherit;
   user-select: none;
   scrollbar-width: none;
}

*::-webkit-scrollbar {
   display: none;
}

body {
   background: #F8F8FF;
}