/* Variabel colors */
:root {
   --prussian-blue: #272743;
   --alice-blue: #E3F5F5;
   --pale-blue: #BAE8E8;
   --celuican: #2D698D;
}

/* Class for use color */
.bg-prussian-blue {
   background: var(--prussian-blue);
}